
#page-landing {

    background: 
    linear-gradient(329.54deg, #5700ff 0%, #671bff 100%)
    no-repeat;

    text-align: center;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    padding-top: 7vh;
}

#container {
    margin: auto;
    width: min(95%, 95%);
}

.location, h1, .visit p {
    height: 16vh;
}

.visit a {
    width: 7rem;
    height: 7rem;
    background: #f9c031;

    border: none;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
    margin-top: 15rem;

    transition: background .200ms;
}

.visit a:hover {
    background: #f3c547;
}

#logo {
    animation-delay: 50ms;
    width: 60vw;
}

.location {
    animation-delay: 100ms;
    
    font-size: 4vw;
}

.location p {
    color: #f9c031;
}

main h1 {
    animation-delay: 150ms;
    font-size: clamp(3rem, 6vw, 7.2em);
    margin: 2rem auto 30vh auto;
    width: 80%;
}

.visit p {
    display: none;
    animation-delay: 200ms;
    color: #f9c031;
    font-size: 4.5vw;
    height: 3vh;
}

#menino {
    background: url("../images/somenino.png") no-repeat 100% 100% / clamp(45rem, 69vw, 71rem);
}

.visit a {
    animation-delay: 250ms;
}

/*desktop */

@media (min-width: 760px) {

    #page-landing {
    padding-top: 0;
}

    #logo {
        width: 18vw;
    }

    #menino {
        margin: auto 5vw;
        margin-bottom: 0;
        background: url("../images/menino.png") no-repeat 100% -35% / clamp(45rem, 69vw, 71rem);
        width: 100%;
    }

    #container {
        padding: 0;
        padding-bottom: 10rem;
        
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;        
    }

    .location, h1, .visit p {
        height: initial;
        text-align: initial;
    }

    .location {
        text-align: right;
        line-height: 1.5;
        font-size: 2.4rem;
    }

    main h1 {
        font-weight: bold;
        line-height: 1;

        margin: clamp(8%, 8vh, 12%) 0 3.5rem 0;

        width: min(300px, 80%);
    }

    .visit {
        display: flex;
        align-items: center;

    }

    .visit p {
        display: initial;
        font-size: 2.4rem;
        line-height: 1.5;
        width: clamp(20rem, 20vw, 30rem);
    }

    .visit a {
        margin: initial;
        margin-left: 3rem;
    }
}