<!-- 
    Aqui eu posso fazer comentários sobre o projeto:

    A tag title deixa uma mensagem quando deixamos o mouse em cima da coisa

-->

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dúvidas | Amparo</title>
      
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
         integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
         crossorigin=""/>
         <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
      
        <link rel="icon" href="/images/logoIcone.png">
      
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/animations.css">
        <link rel="stylesheet" href="/css/what.css">
        <link rel="stylesheet" href="/css/sidebarWhat.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
      </head>

    <body>
  
        <div id="page-what">
            
            <aside class="animate-right sidebar">

                <a href="/">
                <img src="/images/logoIcone.png" alt="Happy">
</a>
                <footer>
                    <button onclick="history.back()">
                    <img src="/images/arrow-back.svg" alt="Voltar">
                    </button>
                </footer>

            </aside>
            

            <main class="with-sidebar">
                <div class=" container">
                    <h1>É sua primeira vez?</h1>

                    <p>É super normal que esteja com dúvidas! Então separamos perguntas mais comuns, mas caso não tenha a sua, fique à vontade para entrar em contato :)</p>

                            <div class="questBox">
                                <h2>Qualquer um pode ir visitar?</h2>

                                <p>Sim! Com certeza qualquer pessoa disposta a dar carinho e atenção pode ir visitar</p>
                            </div>

                            <div class="questBox">
                                <h2>Qualquer um pode ir visitar?</h2>

                                <p>Sim! Com certeza qualquer pessoa disposta a dar carinho e atenção pode ir visitar</p>
                            </div>

                            <div class="questBox">
                                <h2>Qualquer um pode ir visitar?</h2>

                                <p>Sim! Com certeza qualquer pessoa disposta a dar carinho e atenção pode ir visitar</p>
                            </div>

                            <div class="questBox">
                                <h2>Qualquer um pode ir visitar?</h2>

                                <p>Sim! Com certeza qualquer pessoa disposta a dar carinho e atenção pode ir visitar</p>
                            </div>      

                            <p>Email para contato: amparopoars@gmail.com.br</p> 
                </div>
            </main>
        </div>
    </body>

</html>
